
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-orient: horizontal;
}

/* Extra small devices (phones, 420px and down) */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* Small devices (portrait tablets and large phones, 420px and up) */
@media only screen and (min-width: 420px) {
    body {
        
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {

    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        margin: auto;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        margin: auto ;
    }
}

aside { 
    min-width: 30%;
    max-width: 40%;
    height: 100%;
    padding-top: 2em;
    margin-left: 5%;
    position: sticky;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000000;
}

img {
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
}

h1 {
    font-style: normal;
    font-size: xxx-large;
    font-weight: 700;
    color: #000000;
    margin: 5% 0;
    max-width: 80%;
}

h2 {
    font-style: normal;
    font-size: xx-large;
    font-weight: 700;
    color: #000000;
    max-width: 80%;
}

h3 {
    font-style: normal;
    font-size: x-large;
    font-weight: 700;
    color: #000000;
    padding-bottom: 2%;
    max-width: 80%;
}

h4 {
    font-style: normal;
    font-size: medium;     
    font-weight: 700;
    color: #000000;
    padding-bottom: 2%;
    max-width: 80%;
}

h5 {
    font-style: normal;
    font-size: x-small;
    font-weight: 400;
    color: #A8A8A8;
    padding: 2% 0;
    max-width: 80%;
}

p {
    font-style: normal;
    font-size: small;
    font-weight: 400;
    color: #595959;
    max-width: 80%;
    line-height: 150%;
}

ol, ul {
    margin-top: 5%;
}

ol > li {
    font-style: normal;
    font-size: small;
    font-weight: 700;
    color: #000000;
    margin-left: 10%;
    max-width: 80%;
    line-height: 150%;
}

ul > li {
    font-style: normal;
    font-size: small;
    font-weight: 400;
    color: #595959;
    margin-left: 10%;
    max-width: 80%;
    line-height: 150%;
}

a, span {
    font-style: normal;
    font-weight: 400;
    color: #595959;
}

/* class typed styles */

.background {
    background-color: #ffffff;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5%;
    width: 100%;
}

.main {
    min-width: 70%;
    max-width: 90%;
    height: 100%;
    padding-bottom: 2em;
}

.avatar {
    margin: auto;
    border-radius: 50%;
    box-shadow: -2rem -1rem 5rem rgb(255, 255, 255, .7);
}

.badge {
    margin-left: 5%;
    margin-top: 5%;
    min-width: 90%;
}

.about {
    padding-top: 15%;    
    padding-bottom: 5%;
}

.about > p {
    margin-top: 5%;
}

.projects, .work, .company, .education {
    padding: 5% 0;
}

.company > p {
    font-weight: 700;
    color: #000000;
}

.organization {
    font-style: normal;
    font-weight: 700;
    color: #FB6D3A;
}

.education > .company > h4 {
    color: #FB6D3A;
}

.sidebar {
    padding-top: 5%;
    padding-left: 5%;
    margin-bottom: 10%;
}

.sidebar > h3 { 
    color: #ffffff;
}

.sidebar > div {
    margin: 10%;
}

#intro {
    max-width: 90%;
    text-align: left;
}

.sidebar > div > p {
    color: #ffffff;
    padding-top: 1%;
    max-width: 90%;
}

.sidebar > div > p > a, a {
    color: #6284b8;
    max-width: 90%;
}

.sidebar > ul > li {
    color: #FB6D3A;
}

.sidebar > ul > li > span {
    color: #ffffff;
}